{% extends "base.html" %}
{% block content %}

{% for product in all_products %}
<div class="product">
    <ul>
        <li>
            <a href="/products/{{product.id}}">{{product.name}}</a>
        </li>
        <li>
            <a href="/products/{{product.supplier.id}}">{{product.supplier.company_name}}</a>
        </li>
    </ul>

            <div>
                Buyer Cost = £{{product.buyer_cost}} : Resale Price = £{{product.resale_price}} : Available = {{product.stock_quantity}} : Supplier = {{product.supplier.company_name}}
            </div>

            <div>
                {% if product.stock_quantity <= 3 %}
                <div> In Stock </div>
    
                {% elif product.stock_quantity >= 2 %}
                <div> Low Stock </div>
                {% elif product == 0 %}
                <div>Out of Stock</div>
                {% endif %}
            </div>
            


</div>
       

{% endfor %}

{% endblock %}