{% extends "base.html" %}
{% block content %}

<div>
    <ul>
        <li> <b>{{product.name}}</b></li>
        <li>{{product.description}}</li>
        <li>Quantity: {{product.stock_quantity}}</li>
        <li>Buyers Cost: {{product.buyer_cost}}</li>
        <li>Selling Price: {{product.resale_price}}</li>
        <li>Supplier: {{product.supplier.company_name}}</li>
    </ul>
    <form action="/products/{{product.id}}/edit" method = "POST">
    <button type = 'edit'> Edit</button>
    </form>
</div>

{% endblock %}