{% extends "base.html" %}
{% block content %}

<div class="product">
    <ul>
        <li> <b>{{product.name}}</b></li>
        <li>{{product.description}}</li>
        <li>Quantity: {{product.stock_quantity}}</li>
        <li>Buyers Cost: {{product.buyer_cost}}</li>
        <li>Selling Price: {{product.resale_price}}</li>
        <li>Supplier: {{product.supplier.company_name}}</li>
    </ul>
    <form class="container" action="/products/{{product.id}}/edit" method = "POST">
    <button type = 'edit'> <i class="fa-solid fa-pen-to-square" style="color:fuchsia"></i></button>
    </form>
</div>

{% endblock %}